/* Remove bullets, margins, and padding from the nav section */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* For the links to the resume and soundcloud */
a {
  color: #00aef0;
}

/* Remove underline from the links in the nav section */
nav a {
  text-decoration: none;
  font-family: "OCR A Std", monospace;
  color: #00aef0;
}

/* Highlight the current location for the nav and other links */
a.current {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  font-weight: bold;
}

h1 {
  font-family: 'OCR A Std', monospace;
  color: #00aef0;
  text-align: center;
  background: #ffffff;
  padding: 50px;
  font-size: 100px;
}

h2 {
  font-family: 'Padauk', sans-serif;
  /* font-family: 'VT323', monospace; */
  font-size: 110px;
  color: #00aef0;
}

h3 {
  font-size: 65px;
  color: #00aef0;
  font-family: 'Padauk', sans-serif;
}

p {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Padauk', sans-serif;
}


main {
  background-color: #333333;
}

.white-space {
  height: 90px;
}

a.skip{
	padding:10px;
	text-decoration: none;
	position: relative;
    top: -80px;
    transition: top ease-in 2s;
}

a.skip:focus{
	background: white;
	top: 0px;
	border: 1px solid black;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  .white-space {
    height: 45px;
  }
}

/* Header stuff */
/* Q. How do I make the nav bar not irritably unresponsive? */

header {
  height: 130px;
  background-color: #000000;
}

/* header div.logo-nav {
  display: flex;
} */

header img {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width:230px;
  max-height:110px;
  width: auto;
  height: auto;
  padding: 0 25px 0 0;
  border-right: 3px solid white;
}

header nav {
  position: absolute;
  top: 20px;
  right: 10px;
  height: 100%;
  text-align: right;
  font-size: 1.2rem;
}



/* Footer stuff */

footer .footer-icons {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

footer .footer-icons p {
  display: none;
}

i.fa {
    font-size: 150px;
    color: #00aef0;
  }

@media screen and (min-width: 800px) {
  footer .footer-icons p {
    display: inline;
  }
  i.fa {
      font-size: 150px;
      color: #00aef0;
    }
}

/* PROJECTS.HTML SPECIFIC */

/* Set up the main column (doesn't do anything with just one column,
however for completeness' sake I will leave it in so that when the
media query comes in later it will be clear what the difference is.) */
/* div#project-views {
  display: grid;
  grid-template-columns: 100%;
} */

/* Set the h2 titles for each project to be centered */
div#project-views h2 {
  text-align: center;
  padding-top: 30px;
}

/* Internal flexboxes for the figures and text. */
/* Q. How to make this vertical space-around responsive and nice to different
sized screens?  */
div.project-images {
  min-height: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Image sizes */
.project-images img {
  width: 80%;
}

/* Set h3 headers to have spacing */
.project-view h3 {
  text-align: center;
  padding: 30px;
}

/* Set p to be nicely formatted with edge spacing */
.project-view p {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  section.project-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
  }
  div.project-images {
    min-height:600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  div.project-description {
    width: 500px;
  }
  div.project-description p {
    width: 500px;
  }
}

/* EXPERIENCE.HTML SPECIFIC */

div#me {
  display: grid;
  grid-template-columns: auto 70vw auto
}

div#me img {
  grid-column-start: 2;
  width: 70vw;
}

.background-info h2 {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.background-info h3 {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.background-info p {
  margin: 80px;
}

p#bi-p {
  text-align: center;
  margin: 10px 80px 10px 80px;
}

/* Other way (besides grid) to center an img...make it block! */
img.skill-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

@media screen and (min-width: 800px) {
  section.background-info#top {
    display: flex;
    align-items: center;
  }

  div#me {
    display: block;
    min-width: 50vw;
  }

  div#me img#my-face {
    width: 300px;
    padding: 0 100px;
  }

  #skill-list {
    display: flex;
    flex-wrap: wrap;
  }

  .skill-list-item {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {

  div#me img#my-face {
    width: 300px;
    padding: 0 200px;
  }

  #skill-list {
    display: flex;
    flex-wrap: wrap;
  }

  .skill-list-item {
    width: 25%;
  }

  .skill-list-item p {
    margin: 0 20px;
    font-size: 16px;
  }
}

/* ABOUT.HTML SPECIFIC */

/* Fixed, underneath */
div#fixed-content img {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 100vh;
  left: 0;
  right: 0;
}

div#empty-space {
  height: 60vh;
}

div#scrolling-content {
  position: relative;
  top: 0vh;
  z-index: 2;
  background-color: #333333;
}

header#about-header {
  position: relative;
  top: 0px;
  z-index: 2
}

/* Q. How to get the footer to show at the bottom? */
footer#about-footer {
  position: relative;
  top: 0px;
  z-index: 2
}

@media screen and (min-width: 800px) {
  div#fixed-content img {
    position: fixed;
    top: -130px;
    z-index: 1;
    height: 100vw;
    margin: 0 auto;
  }
  div#scrolling-content p {
    margin: 30px;
  }
}

@media screen and (min-width: 1200px) {
  div#fixed-content img {
    position: fixed;
    top: -300px;
    z-index: 1;
    height: 100vw;
    margin: 0 auto;
  }
}

/* CREATIVE.HTML SPECIFIC */

.creative h2 {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.creative img {
  display: block;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.creative p {
  margin: 80px;
}

@media screen and (min-width: 800px) {
  div.creative-images {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
  div.creative-images img {
    width: 250px;
    margin: 0 auto;
  }
  .creative p {
    margin: 30px;
  }
}

/* INDEX.HTML SPECIFIC */

div.index-header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  height: 100px;
}

header .index-header .logo-index img {
  padding: 0px 25px 0px 25px;
  border-right: 3px solid white;
  position: static;
}

.index-header .title {
  margin: 0 0 0 25px;
}

.index-header h1 {
  text-align: left;
  font-size: 30px;
  background-color: inherit;
  padding: 0px;
}

.index-header h2 {
  text-align: left;
  font-size: 30px;
}

main.index-main {
  background-color: #333333;
  background-image: url("../images/data_bg.jpg");
  background-position: center;
  display: grid;
  grid-template-rows: 40vh 5vh 10vh;
  grid-template-columns: auto auto;
}

.index-main h3 {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: end;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 20px 50px;
}

footer#index-footer {
  background: #000000;
  min-height: 300px;
}

footer nav{
  background: #000000;
  font-size: 17px;
  text-align: center;
  margin: auto;
  padding: 100px 0px;
}

main.index-main h3 {
  font-size: 25px;
}

@media screen and (min-width: 800px) {

  footer#index-footer {
    min-height: 100px;
  }

  footer#index-footer nav ul {
    padding: 180px 0px;
    display: flex;
    justify-content: space-evenly;
  }

  footer#index-footer nav ul li {
    padding: 10px;
    border: 1px solid white;
  }
}

@media screen and (min-width: 1200px) {
  main.index-main {
    grid-template-rows: 60vh 5vh 10vh;
    grid-template-columns: auto auto;
  }
  footer#index-footer nav ul {
    padding: 120px 0px;
  }
}
