/* Remove bullets, margins, and padding from the nav section */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Remove underline from the links in the nav section */
nav a {
  text-decoration: none;
  font-family: "OCR A Std";
  color: #00a0c6;
}

/* Highlight the current location for the nav and other links */
a.current {
  text-decoration: underline;
  text-decoration-color: #000000;
  font-weight: bold;
}
